.hlavicka {
    background-color: rgba(195,219,197,0.6);
    padding-bottom: 20px;
}

.mojefoto {
    width: 175px;
    border-radius: 50px;
    margin-top: 30px;
    border-color: #A0AAB2;
    border-style: solid;
    border-width: 1.5px;
}

h1{
    margin: 10px 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #00635D;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #000009;
    text-decoration: none;
    font-size: 20px;
}

.linkedin img,
.email img {
    width: 50px;
    margin: 15px;
}

a:hover{
    color: #D55672;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(0,99,93,0.5);
  }
  
  .menu li {
    display: inline-block;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    padding: 10px 80px;
    display: inline-block;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
  }
  
  .menu a:hover,
  .menu a:focus,
  .menu a:active {
    background-color: rgba(213,86,114, 0.7);
  }

  .paticka {
background-color:  rgba(0,99,93,0.5);
  }

  .paticka p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: white;
    padding: 10px 0;
    margin: 0;
  }

  h2 {
      color: #00635D;
      text-align: center;
      font-family: 'Alegreya Sans', sans-serif;
      font-style: italic;
  }

  body {
    color: #000009;
    background-color: rgba(195,219,197,0.6);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  .omne {
    padding: 10px;
    margin: 0;
    text-align: center;
  }

  .prace {
    padding: 10px;
    margin: 0;
    text-align: left;
    border-top: 1px dotted #A0AAB2;
    border-bottom: 1px dotted #A0AAB2;
  }

  .seniortrainer,
  .orderprocessingagent,
  .officemanager {
      font-weight: bold;
  }

  .volnycas {
    padding: 10px;
    margin: 10px; 
    font-style: italic; 
  }